/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*** COMMON ***/
body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 10px 30px;
    border: 1px solid #FFF;
    text-align: center;
    background: transparent;
    color: #FFF;
    display: inline-block;
    &:hover {
        background: #FFF;
        color: #333;
        cursor: pointer;
    }
}