.sections {
    display: flex;

    .sections-list {
        background: #333;
        background: linear-gradient(to bottom right, #024, #402);
        height: 100vh;
        flex: 0 0 90px;

        .head {
            text-align: center;
            padding: 30px 0px;

            img {
                border-radius: 360px;
                margin: 30px 0;
                width: 34px;
            }

            .nopic {
                width: 48px;
                height: 48px;
                line-height: 48px;
                font-weight: bold;
                text-align: center;
                display: block;
                margin: 0px auto;
                background: #dcb06e;
                color: #FFF;
                border-radius: 360px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
                list-style: none;
                width: 100%;
                text-align: center;
                a {
                    color: #FFF;
                    text-transform: uppercase;
                    text-decoration: none;
                    display: block;
                    padding: 15px 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    transition: all .2s linear;
                    font-size: 0px;
                    
                    i {
                        font-size: 30px;
                        display: block;
                        text-align: center;
                        padding-bottom: 15px;
                        color: #FFF;
                    }

                    &:hover,
                    &.active {
                        color: #FFF;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .sections-tree {
        background: #fff;
        border-right: 1px solid #ccc;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        flex: 0 0 360px;

        .tree {
            // DEFAULT STYLES
            ul, li {
                margin: 0px;
                padding: 0px;
            }
            li li {
                padding-left: 15px;
            }
            a {
                text-decoration: none;
                //&.active .tree-row,
                .tree-row:hover {
                    background: #eee;
                }
            }

            // CUSTOM ROWS
            .tree-row {
                padding: 0px 15px;
                white-space: nowrap;
                color: #000;
                font-size: 14px;
                line-height: 32px;
                height: 32px;

                &.level-1 { padding-left: 15px; }
                &.level-2 { padding-left: 30px; }
                &.level-3 { padding-left: 45px; }
                &.level-4 { padding-left: 60px; }
                &.level-5 { padding-left: 75px; }
                &.level-6 { padding-left: 90px; }
                &.level-7 { padding-left: 105px; }
                &.level-8 { padding-left: 120px; }
                &.level-9 { padding-left: 135px; }
                &.level-10 { padding-left: 150px; }

                i {
                    padding-right: 5px;
                }

                ul li {
                    display: none;
                }
            }
        }
    }

    .sections-content {
        background: #FFF;
        overflow: hidden;
        flex: 1;
    }
}